* {
    box-sizing: border-box;
  }
  
  body {
    /* font-family: 'Roboto', sans-serif; */
    text-align: center;
  }
  
 bkTitle, bkUrl, bkDesc, bkRating {
      display: inline-block;
      padding: 5px;

  }
  .bkRating {
      /* float: right; */
      /*left: -100px;
      bottom: -100px; */
      /* padding: 10px; */
      width: 400px;
      text-align: center;
      border: 1px solid black;
  }

  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  /* #bookmark-list-item {
    width: 250px;
  } */
  
  .container {
    max-width: 600px;
  }
  
  .bookmark-list {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    width: 420px;
    /* margin-right: auto;
    margin-left: auto; */
    margin-bottom: 20px;
    margin-top: 15px;
    border: 1px solid black;
    padding: 20px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }
  
  .bookmark-item {
    display: block;
    color: grey;
    /* font-style: italic;  */
    margin-bottom: 15px;
  }

  ul{
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .form-box {
      padding-top: 10px;
      padding-left: 20px;
      border: 1px solid black;
      text-align: center;
  }

  span {
      float: right;
  }
